.root {
  padding-top: rem(80);
  padding-bottom: rem(120);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  text-align: center;
  font-weight: 900;
  font-size: rem(220);
  line-height: 1;
  margin-bottom: rem(20);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(120);
  }
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  text-align: center;
  font-weight: 900;
  font-size: rem(38);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32);
  }
}
