services:
  db:
    image: postgres:15.7
    container_name: main-db
    environment:
      POSTGRES_PASSWORD: fr24Password
      POSTGRES_DB: db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 1s
      timeout: 5s
      retries: 50
    ports:
      - 5433:5432
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
