/* Collaboration caret styles */
.tiptap {
  /* Caret - thin vertical line in user's color */
  :global(.collaboration-carets__caret) {
    border-left: 1px solid;
    border-right: none;
    margin-left: -1px;
    margin-right: 0;
    pointer-events: none;
    position: relative;
    word-break: normal;
    display: inline-block;
    height: 1.2em;
    vertical-align: text-bottom;
  }

  /* Label - floating above the caret */
  :global(.collaboration-carets__label) {
    background-color: #ffc0cb;
    border-radius: 3px 3px 3px 0;
    color: #0d0d0d;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    left: -1px;
    line-height: normal;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -1.4em;
    user-select: none;
    white-space: nowrap;
    z-index: 10;

    /* Flag-like protrusion pointing to caret - matches caret border color */
    &::after {
      background-color: var(--caret-border-color, #0d0d0d);
      bottom: -4px;
      clip-path: polygon(0 0, 100% 0, 80% 100%);
      content: '';
      height: 4px;
      position: absolute;
      right: 0;
      width: 6px;
    }
  }
}
