.tiptap {
  :global(.collaboration-carets__caret) {
    border-left: 2px solid;
    border-right: none;
    margin-left: -1px;
    margin-right: 0;
    pointer-events: none;
    position: relative;
    word-break: normal;
    display: inline-block;
    height: 1.2em;
    vertical-align: text-bottom;
    border-color: var(--caret-color, currentColor);
    opacity: 0.8;
  }

  :global(.collaboration-carets__label) {
    background-color: var(--caret-color, #958DF1);
    border-radius: 4px 4px 4px 0;
    color: #ffffff;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    left: -1px;
    line-height: normal;
    padding: 0.15rem 0.4rem;
    position: absolute;
    top: -1.5em;
    user-select: none;
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &::after {
      background-color: var(--caret-color, #958DF1);
      bottom: -4px;
      clip-path: polygon(0 0, 100% 0, 80% 100%);
      content: '';
      height: 4px;
      position: absolute;
      right: 0;
      width: 6px;
    }
  }
}
